/** CSS STYLE **/
html,
body * {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font: inherit;
}

a:hover {
  text-decoration: none;
}

.hello {
  display: block;
  color: #fff;
}

:root {
  --white: #fff;
  --white-transp: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transp: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --main-font: "Open Sans";
  --font-title: "Neucha";
  --lh-title: 1.2em;
}

.title {
  line-height: var(--lh-title);
  font-family: var(--font-title);
  color: var(--main);
  font-weight: 400;
  margin: 0;
}

.font-white {
  color: var(--white);
}

.font-dark {
  color: var(--dark);
}

.fz-h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
  line-height: var(--lh-title);
  font-family: var(--font-title);
  color: var(--main);
  font-weight: 400;
  margin: 0;
}

.fz-h3 {
  font-size: 34px;
  line-height: 120%;
}

body {
  color: var(--dark);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.background-main {
  position: relative;
}

.background-main::before {
  content: "";
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.background-main::after {
  content: "";
  background-color: #F5F5F5;
  position: absolute;
  inset: 0;
  z-index: -3;
}

.background-brown {
  position: relative;
}

.background-brown::before {
  content: "";
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.background-brown::after {
  content: "";
  background-color: var(--brown);
  position: absolute;
  inset: 0;
  z-index: -3;
}

.header {
  overflow-x: hidden;
}

.header-inner {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.span {
  color: var(--dark);
}

.header-img {
  height: 525px;
  position: absolute;
  top: -45px;
  right: -270px;
  z-index: -1;
}

.texts {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.texts p {
  flex-basis: 540px;
  margin-bottom: 0;
}

.text-link {
  flex-basis: 540px;
}

.link {
  padding: 12px 24px;
  font-weight: bold;
  background: var(--main);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}

.link:hover {
  background-color: #EA7600;
}

.video-section {
  margin-bottom: -100px;
}

.video-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 0;
}

.video-section-title {
  text-align: center;
  margin-bottom: 30px;
}

.video-section-text {
  text-align: center;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.navigation {
  margin-top: 8px;
  background-color: var(--main-dark);
  z-index: 2;
}

.navigation-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 200px 0 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px 30px;
}

.cards-title {
  width: 350px;
  font-size: 52px;
  line-height: 62.4px;
}

.card {
  width: 350px;
  height: 100%;
  padding: 24px;
  background-color: var(--light);
  color: var(--dark);
}

.card:hover{
  background-color: var(--main);
  color: var(--white);
}

.card-title{
  margin-bottom: 16px;
}

.card:hover .card-title{
  color: #fff;
}

.card-number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: var(--font-title);
  line-height: 1;
}

.card-text {
  margin: 0;
}

.biases-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.biases-img {
  box-shadow: 0 16px 32px 0 rgb(0 0 0 / 15%);
}

.biases {
  color: var(--dark-transp);
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.biases-title {
  font-family: var(--font-title);
  font-weight: 400;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 30px;
}

.biases-text {
  font-family: var(--font-title);
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
}

.biases-manifest{
  margin-top: 100px;
}

.biases-manifest-title {
  margin-bottom: 4px;
  padding: 5px 0 5px 10px;
  display: block;
  background-color: var(--brown);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}

.biases-manifest-texts p {
  margin-bottom: 0;
}

.text-white {
  color: var(--white-transp);
}

.bg-white {
  background-color: #fff;
}

.font-brown {
  color: var(--brown);
}

.form-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 55px;
  background-color: var(--main-dark);
  color: var(--white);
}

.subscribe {
  font-family: var(--font-title);
  font-size: 34px;
  line-height: 120%;
  margin-right: 122px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-box {
  display: flex;
  margin-top: 9px;
}

label{
  font-size: 18px;
  line-height: 28.8px;
}

input {
  flex-basis: 1;
  height: 50px;
  padding: 15px;
  width: 423px;
  border: none;
}

input::placeholder {
  color: #757575;
  font-family: var(--main-font);
  font-size: 13.1px;
  opacity: 0.2;
}

button {
  height: 50px;
  width: 70px;
  background-color: var(--main);
  border: none;
}

button::before {
  content: "";
  background-image: url("../img/send.svg");
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

button:hover {
  background-color: #EA7600;
}

.agree{
  font-size: 12px;
  line-height: 19.2px;
  margin: 0;
}

.agree a{
  font: inherit;
  color: inherit;
  text-decoration: underline;
}

.rights-part{
  margin-top: 76px;
  text-align: center;
  font-size: 14px;
  line-height: 22.4px;
  color: #000;
}

.rights-part a{
  color: #007DC1;
  text-decoration: underline;
}